---
# Still require babel-eslint for spread
parser: babel-eslint

extends: 'airbnb'

globals:
    document: false
    Box: false

    # Mocha globals
    after: false
    afterEach: false
    before: false
    beforeEach: false
    describe: false
    expect: false
    it: false
    sinon: false,
    assert: false,
    expect: false,
    fixture: false


rules:
    # seems buggy, doesn't like object returns
    arrow-body-style: [0]

    # herp derp, box doesn't like 2 spaces
    indent: [2, 4, {"SwitchCase": 1}]

    jsx-quotes: [2, 'prefer-single']
    max-len: [0, 120]

    # consistent indentation with js
    react/jsx-indent-props: [2, 4]

    react/jsx-no-bind: [0]

    comma-dangle: [2, "never"]

    # I have plenty of reasons to reassign params
    no-param-reassign: [0]
