{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ],
        "es2016",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-decorators-legacy"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "__coverage__", {
                        "ignore": [
                            "**/*-test.js"
                        ],
                    }
                ],
                ["babel-plugin-transform-require-ignore", {
                    "extensions": [".scss"]
                }],
            ]
        }
    }
}
