// Configuration for Babel transpilation
{
    "presets": [
        ["es2015", { "modules": false }],
        "es2016",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-decorators-legacy"
    ],
    "env": {
        "test": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "**/*-test.js",
                        "build/**",
                        "src/lib/polyfill.js",
                        "src/lib/browser.js",
                        "src/lib/viewers/box3d/model3d/model3d-animation-clips-pullup.js",
                        "src/lib/viewers/box3d/model3d/model3d-renderer.js",
                        "src/lib/viewers/box3d/model3d/model3d-settings-pullup.js",
                        "src/lib/viewers/box3d/**/scene-entities.js"
                    ]
                }],
                ["babel-plugin-transform-require-ignore", { "extensions": [".scss"] }]
            ]
        }
    }
}
