{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ],
        "es2016",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-decorators-legacy"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul", {
                        "exclude": [
                            "**/*-test.js",
                            "build/**",
                            "src/lib/polyfill.js",
                            "src/lib/browser.js",
                            "src/lib/viewers/media/**"
                        ]
                    }
                ],
                [
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [".scss"]
                    }
                ]
            ]
        }
    }
}
