{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true,
        "commonjs": true
    },
    "globals": {
        "after": false,
        "afterEach": false,
        "before": false,
        "beforeEach": false,
        "describe": false,
        "expect": false,
        "it": false,
        "sinon": false,
        "assert": false,
        "fixture": false,
        "__": false,
        "PDFJS": false,
        "Box": false,
        "DocumentTouch": false,
        "ActiveXObject": false
    },
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "import/imports-first": [
            "off"
        ],
        "jsx-quotes": [
            "error",
            "prefer-single"
        ],
        "max-len": [
            "off"
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "no-underscore-dangle": [
            "off"
        ],
        "react/jsx-filename-extension": [
            "off"
        ],
        "arrow-body-style": [
            "off"
        ],
        "class-methods-use-this": [
            "off"
        ],
        "arrow-parens": [
            "error",
            "always"
        ],
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "import/no-extraneous-dependencies": [
            "off"
        ],
        "import/no-webpack-loader-syntax": [
            "off"
        ],
        "require-jsdoc": [
            "warn",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": false,
                    "ClassDeclaration": false,
                    "ArrowFunctionExpression": true
                }
            }
        ],
        "valid-jsdoc": [
            "warn",
            {
                "prefer": {
                    "returns": "return",
                    "class": "constructor"
                },
                "preferType": {
                    "array": "Array",
                    "function": "Function",
                    "object": "Object",
                    "Boolean": "boolean",
                    "Number": "number",
                    "String": "string"
                }
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config-index": 0
            }
        }
    }
}
