{
	"env": {
		"browser": true
	},

	"globals": {
		"Box": true
	},

	"rules": {
		"semi": 2,
		"no-bitwise": 2,
		"no-cond-assign": 2,
		"curly": 0,
		"no-debugger": 2,
		"no-console": 2,
		"eqeqeq": 0,
		"no-eq-null": 2,
		"no-eval": 2,
		"wrap-iife": 2,
		"no-iterator": 2,
		"no-use-before-define": 2,
		"no-loop-func": 0,
		"no-loop-func-v2": 2,
		"no-multi-str": 2,
		"new-cap": 2,
		"no-caller": 2,
		"no-new": 2,
		"no-proto": 2,
		"quotes": [2, "single"],
		"no-undef": 0,
		"no-unused-vars": 2,
		"no-script-url": 2,
		"no-queryselector": 2,
		"strict": 0,
		"dot-notation": 2,
		"camelcase": 0,
		"radix": 2
	}
}
