---
# Still require babel-eslint for spread
parser: babel-eslint

extends: 'airbnb'

globals:
    document: false
    Box: false
    PDFJS: false
    PDFFindController: false
    DocumentTouch: false
    ActiveXObject: false
    __: false # webpack i18n plugin

    # Mocha globals
    after: false
    afterEach: false
    before: false
    beforeEach: false
    describe: false
    expect: false
    it: false
    sinon: false
    assert: false
    fixture: false


rules:
    # seems buggy, doesn't like object returns
    arrow-body-style: [0]

    # herp derp, box doesn't like 2 spaces
    indent: [2, 4, {"SwitchCase": 1}]

    jsx-quotes: [2, 'prefer-single']
    max-len: [0, 120]

    # consistent indentation with js
    react/jsx-indent-props: [2, 4]

    react/jsx-no-bind: [0]

    react/jsx-indent: [2, 4]

    comma-dangle: [2, "never"]

    no-underscore-dangle: [0]

settings:
    import/resolver: webpack
