language: node_js
node_js:
- '8'
branches:
  only:
  - master
  - greenkeeper/initial
notifications:
    email:
        recipients:
            - preview-alerts@box.com
aliases:
    - &sauce-labs
        before_script:
        - python -m SimpleHTTPServer &
        - sleep 5
        addons:
          sauce_connect: true
        script: yarn run functional-tests-ci
        cache: yarn
    - &sauce-labs-mobile
      <<: *sauce-labs
      script: yarn run functional-tests-ci --grep @mobile
stages:
- ci
- name: sauce-labs - windows 10
  if: type = cron
- name: sauce-labs - osx
  if: type = cron
- name: sauce-labs - mobile
  if: type = cron
jobs:
  include:
  - stage: ci
    script: yarn run ci
    cache: yarn
  - <<: *sauce-labs
    stage: sauce-labs - windows 10
    env: BROWSER_PLATFORM="Windows 10" BROWSER_NAME="MicrosoftEdge"
  - <<: *sauce-labs
    stage: sauce-labs - windows 10
    env: BROWSER_PLATFORM="Windows 10" BROWSER_NAME="chrome"
  - <<: *sauce-labs
    stage: sauce-labs - windows 10
    env: BROWSER_PLATFORM="Windows 10" BROWSER_NAME="firefox"
  - <<: *sauce-labs
    stage: sauce-labs - windows 10
    env: BROWSER_PLATFORM="Windows 10" BROWSER_NAME="internet explorer"
  - <<: *sauce-labs
    stage: sauce-labs - osx
    env: BROWSER_PLATFORM="macOS 10.13" BROWSER_NAME="safari"
  - <<: *sauce-labs
    stage: sauce-labs - osx
    env: BROWSER_PLATFORM="macOS 10.13" BROWSER_NAME="chrome"
  - <<: *sauce-labs
    stage: sauce-labs - osx
    env: BROWSER_PLATFORM="macOS 10.13" BROWSER_NAME="firefox"
  - <<: *sauce-labs-mobile
    stage: sauce-labs - mobile
    env: BROWSER_PLATFORM="iOS" DEVICE_NAME="iPhone X Simulator" PLATFORM_VERSION="11.2" BROWSER_NAME="Safari"
  - <<: *sauce-labs-mobile
    stage: sauce-labs - mobile
    env: BROWSER_PLATFORM="iOS" DEVICE_NAME="iPhone 6 Simulator" PLATFORM_VERSION="11.2" BROWSER_NAME="Safari"
  - <<: *sauce-labs-mobile
    stage: sauce-labs - mobile
    env: BROWSER_PLATFORM="iOS" DEVICE_NAME="iPad Simulator" PLATFORM_VERSION="11.2" BROWSER_NAME="Safari"
  - <<: *sauce-labs-mobile
    stage: sauce-labs - mobile
    env: BROWSER_PLATFORM="Android" DEVICE_NAME="Android Emulator" PLATFORM_VERSION="6.0" BROWSER_NAME="Chrome"
