language: node_js
node_js:
    - '8'
cache: yarn
jobs:
    include:
        - script: yarn run ci
        - before_script:
              - python -m SimpleHTTPServer &
              - 'export DISPLAY=:99.0'
              - 'sh -e /etc/init.d/xvfb start'
              - sleep 5
          sudo: required
          addons:
              chrome: beta
          script: travis_retry yarn run functional-tests-ci --grep "@ci"
