language: node_js
dist: 'focal'
node_js:
    - '18'
addons:
    apt:
        packages:
            - libgconf-2-4
cache:
    yarn: true
    directories:
        - node_modules
        - ~/.cache/Cypress
before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.5
    - export PATH=$HOME/.yarn/bin:$PATH
    - export NODE_OPTIONS=--openssl-legacy-provider
jobs:
    include:
        - name: "Build & Test"
          script: commitlint-travis && yarn lint && npm-run-all clean build:i18n build:ci test:ci
        - name: "E2E Tests"
          script: yarn test:e2e
