@import 'media.css';

.box-preview-media-mp3 .box-preview-media-container {
    width: 400px;
    height: 60px; /* same as controls */
    overflow: visible; /* to show settings popup */
}

.box-preview-media-mp3 .box-preview-media-expand-icon {
    display: none;
}

.box-preview-media-mp3 .box-preview-media-controls-wrapper {
    background: #000;
    opacity: 1;
}

.box-preview-media-mp3 .box-preview-media-settings {
    background-color: rgba(33, 33, 33, 0.8);
    bottom: 65px;
    right: 0;
    height: 23px;
}

.box-preview-media-mp3 .box-preview-media-settings-item-quality {
    display: none;
}

.box-preview-media-mp3 .box-preview-image-switch-360-icon {
    display: none;
}