@import 'media.css';

.box-preview-media-mp4 video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    cursor: none;
}

.box-preview-media-mp4 .box-preview-media-controls-is-visible video {
    cursor: default;
}

.box-preview-is-fullscreen .box-preview-media-mp4 .box-preview-media-container {
    width: 100%;
}

.box-preview-media-mp4 .box-preview-media-settings {
    height: 30px;
}

.box-preview-media-mp4 .box-preview-media-settings-item-quality {
    display: none;
}