{
    "extends": ["../.eslintrc"],
    "globals": {
        "Feature": false,
        "Before": false,
        "Scenario": false
    },
    "rules": {
        "func-names": ["off"],
        "no-unused-expressions" : ["off"]
    }
}
