{
	"parser": "babel-eslint",
	"plugins": [
		"babel"
	],
	"globals": {
		"window": false,
		"document": false,
		"Box": false,
		"$": false
	},
	"rules": {
		"semi": 2,
        "no-bitwise": 2,
        "no-cond-assign": 2,
        "curly": 0,
        "no-debugger": 2,
        "no-console": 2,
        "eqeqeq": 0,
        "no-eq-null": 2,
        "no-eval": 2,
        "wrap-iife": 2,
        "no-iterator": 2,
        "no-loop-func": 0,
        "no-multi-str": 2,
        "new-cap": 2,
        "no-caller": 2,
        "no-new": 2,
        "no-proto": 2,
        "quotes": [2, "single"],
        "no-undef": 0,
        "no-script-url": 2,
        "dot-notation": 2,
        "camelcase": 0,
        "radix": 2,
        "brace-style": 2,
		"func-style": [2, "declaration"],
		"strict": [2, "global"],
		"guard-for-in": 2,
		"no-floating-decimal": 2,
		"no-underscore-dangle": 0,
		"no-nested-ternary": 2,
		"keyword-spacing": 2,
		"valid-jsdoc": [2, {
			"prefer": {
				"return": "returns"
			}
		}],
		// We allow unused args
		"no-unused-vars": [2, {"args": "none"}]
	},
	"extends" : "eslint:recommended"
}
