.box-preview *,
.box-preview {
    box-sizing: border-box !important;
}

.box-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0 none;
    width: 100%;
    height: 100%;
}