.box-preview-is-hidden {
    display: none !important;
}

* {
    box-sizing: border-box !important;
}

.box-preview-container {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0 none;
    width: 100%;
    height: 100%;
    display: none;
}

.box-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0 none;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(90, 90, 90, 0.90);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    transform: translateZ(0);
}

.accessibility-hidden {
    top: auto; /* Some browsers ignore left without a top */
    left: -9999px;
    position: absolute;
}
