.box-preview-file-blank:before,
.box-preview-file-zip:before {
    content: "";
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.box-preview-file-blank:before {
    -shalam-sprite: '../img/files_160/160-zip.png' dest-size(80px, 80px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) 0 0;
    background: url(../img/sprite.png) 0 0/256px 115px;
    /* end shalam */
}

.box-preview-file-zip:before {
    -shalam-sprite: '../img/files_160/160-zip.png' dest-size(80px, 80px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) 0 0;
    background: url(../img/sprite.png) 0 0/256px 115px;
    /* end shalam */
}