/*----- Common ------*/
.box-preview-image-expand-icon:before,
.box-preview-image-zoom-in-icon:before,
.box-preview-image-zoom-out-icon:before,
.box-preview-media-expand-icon:before,
.box-preview-media-play-icon:before,
.box-preview-media-volume-icon:before,
.box-preview-media-volume-icon-mute:before,
.box-preview-media-volume-icon-low:before,
.box-preview-media-volume-icon-medium:before,
.box-preview-media-volume-icon-high:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.box-preview-image-expand-icon:before,
.box-preview-media-expand-icon:before {
    -shalam-sprite: '../img/dark/expand.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -280px -160px;
    background: url(../img/sprite.png) -22px -137px/256px 158px;
    /* end shalam */
}

.box-preview-is-fullscreen .box-preview-image-expand-icon:before,
.box-preview-is-fullscreen .box-preview-media-expand-icon:before {
    -shalam-sprite: '../img/dark/collapse.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -300px -160px;
    background: url(../img/sprite.png) -130px -89px/256px 158px;
    /* end shalam */
}



/*----- Image ------*/
.box-preview-image-rotate-left-icon:before {
    -shalam-sprite: '../img/rotateleft.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -100px -160px;
    background: url(../img/sprite.png) -212px -174px/512px 316px;
    /* end shalam */
}

.box-preview-image-zoom-in-icon:before {
    -shalam-sprite: '../img/zoomin.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -200px -160px;
    background: url(../img/sprite.png) -392px -184px/512px 316px;
    /* end shalam */
}

.box-preview-image-zoom-out-icon:before {
    -shalam-sprite: '../img/zoomout.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -120px -160px;
    background: url(../img/sprite.png) -236px -176px/512px 316px;
    /* end shalam */
}




/*----- Media ------*/
.box-preview-media-play-icon:before {
    -shalam-sprite: '../img/dark/play.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -140px -160px;
    background: url(../img/sprite.png) -44px -138px/256px 158px;
    /* end shalam */
}

.box-preview-media-is-playing .box-preview-media-play-icon:before {
    -shalam-sprite: '../img/dark/pause.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -160px -160px;
    background: url(../img/sprite.png) -152px -90px/256px 158px;
    /* end shalam */
}

.box-preview-media-volume-icon:before {
    -shalam-sprite: '../img/dark/volumebase.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -180px -160px;
    background: url(../img/sprite.png) -174px -91px/256px 158px;
    /* end shalam */
}

.box-preview-media-volume-icon-mute:before {
    -shalam-sprite: '../img/dark/volume0.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -80px -160px;
    background: url(../img/sprite.png) -84px -86px/256px 158px;
    /* end shalam */
}

.box-preview-media-volume-icon-low:before {
    -shalam-sprite: '../img/dark/volume1.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -220px -160px;
    background: url(../img/sprite.png) -208px -93px/256px 158px;
    /* end shalam */
}

.box-preview-media-volume-icon-medium:before {
    -shalam-sprite: '../img/dark/volume2.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -240px -160px;
    background: url(../img/sprite.png) -230px -94px/256px 158px;
    /* end shalam */
}

.box-preview-media-volume-icon-high:before {
    -shalam-sprite: '../img/dark/volume3.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -260px -160px;
    background: url(../img/sprite.png) 0 -136px/256px 158px;
    /* end shalam */
}
