/*----- Common ------*/
.box-preview-image-expand-icon:before,
.box-preview-image-zoom-in-icon:before,
.box-preview-image-zoom-out-icon:before,
.box-preview-image-rotate-left-icon:before,
.box-preview-text-expand-icon:before,
.box-preview-text-zoom-in-icon:before,
.box-preview-text-zoom-out-icon:before,
.box-preview-doc-expand-icon:before,
.box-preview-doc-zoom-in-icon:before,
.box-preview-doc-zoom-out-icon:before,
.box-preview-doc-rotate-left-icon:before,
.box-preview-doc-previous-page-icon:before,
.box-preview-doc-next-page-icon:before,
.box-preview-presentation-previous-page-icon:before,
.box-preview-presentation-next-page-icon:before,
.box-preview-media-expand-icon:before,
.box-preview-media-play-icon:before,
.box-preview-media-volume-icon:before,
.box-preview-media-volume-icon-mute:before,
.box-preview-media-volume-icon-low:before,
.box-preview-media-volume-icon-medium:before,
.box-preview-media-volume-icon-high:before,
.box-preview-media-gear-icon:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.box-preview-image-expand-icon:before,
.box-preview-text-expand-icon:before,
.box-preview-doc-expand-icon:before,
.box-preview-media-expand-icon:before {
    -shalam-sprite: '../img/dark/expand.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -40px -500px;
    background: url(../img/sprite.png) 0 -358px/128px 436px;
    /* end shalam */
}

.box-preview-is-fullscreen .box-preview-image-expand-icon:before,
.box-preview-is-fullscreen .box-preview-text-expand-icon:before,
.box-preview-is-fullscreen .box-preview-doc-expand-icon:before,
.box-preview-is-fullscreen .box-preview-media-expand-icon:before {
    -shalam-sprite: '../img/dark/collapse.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) 0 -500px;
    background: url(../img/sprite.png) -66px -328px/128px 436px;
    /* end shalam */
}


/*----- Image, Text & Doc ------*/
.box-preview-image-zoom-in-icon:before,
.box-preview-text-zoom-in-icon:before,
.box-preview-doc-zoom-in-icon:before {
    -shalam-sprite: '../img/zoomin.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -24px -480px;
    background: url(../img/sprite.png) -134px -496px/256px 872px;
    /* end shalam */
}

.box-preview-image-zoom-out-icon:before,
.box-preview-text-zoom-out-icon:before,
.box-preview-doc-zoom-out-icon:before {
    -shalam-sprite: '../img/zoomout.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -60px -500px;
    background: url(../img/sprite.png) -44px -716px/256px 872px;
    /* end shalam */
}


/*----- Image & Doc ------*/
.box-preview-image-rotate-left-icon:before,
.box-preview-doc-rotate-left-icon:before {
    -shalam-sprite: '../img/rotateleft.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -44px -480px;
    background: url(../img/sprite.png) -158px -496px/256px 872px;
    /* end shalam */
}


/*----- Doc -----*/
.box-preview-doc-previous-page-icon:before {
    -shalam-sprite: '../img/dark/up.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -64px -480px;
    background: url(../img/sprite.png) -91px -248px/128px 436px;
    /* end shalam */
}

.box-preview-doc-next-page-icon:before {
    -shalam-sprite: '../img/dark/down.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -84px -480px;
    background: url(../img/sprite.png) 0 -298px/128px 436px;
    /* end shalam */
}

.box-preview-presentation-previous-page-icon:before {
    -shalam-sprite: '../img/dark/left.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -104px -480px;
    background: url(../img/sprite.png) -22px -298px/128px 436px;
    /* end shalam */
}

.box-preview-presentation-next-page-icon:before {
    -shalam-sprite: '../img/dark/right.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -124px -480px;
    background: url(../img/sprite.png) -44px -298px/128px 436px;
    /* end shalam */
}


/*----- Media ------*/
.box-preview-media-gear-icon:before {
    -shalam-sprite: 'controls/settings-cog.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -80px -500px;
    background: url(../img/sprite.png) -42.5px -447.5px/160px 545px;
    /* end shalam */
}

.box-preview-media-play-icon:before {
    -shalam-sprite: '../img/dark/play.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -144px -480px;
    background: url(../img/sprite.png) -66px -298px/128px 436px;
    /* end shalam */
}

.box-preview-media-is-playing .box-preview-media-play-icon:before {
    -shalam-sprite: '../img/dark/pause.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -164px -480px;
    background: url(../img/sprite.png) -88px -298px/128px 436px;
    /* end shalam */
}

.box-preview-media-volume-icon:before {
    -shalam-sprite: '../img/dark/volumebase.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -184px -480px;
    background: url(../img/sprite.png) 0 -328px/128px 436px;
    /* end shalam */
}

.box-preview-media-volume-icon-mute:before {
    -shalam-sprite: '../img/dark/volume0.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -204px -480px;
    background: url(../img/sprite.png) -22px -328px/128px 436px;
    /* end shalam */
}

.box-preview-media-volume-icon-low:before {
    -shalam-sprite: '../img/dark/volume1.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -224px -480px;
    background: url(../img/sprite.png) -44px -328px/128px 436px;
    /* end shalam */
}

.box-preview-media-volume-icon-medium:before {
    -shalam-sprite: '../img/dark/volume2.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -100px -500px;
    background: url(../img/sprite.png) -52px -358px/128px 436px;
    /* end shalam */
}

.box-preview-media-volume-icon-high:before {
    -shalam-sprite: '../img/dark/volume3.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -20px -500px;
    background: url(../img/sprite.png) -88px -328px/128px 436px;
    /* end shalam */
}


/*----- Model3D ------*/
.icon-rendermodes {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermodes.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) 0 -520px;
    background: url(../img/sprite.png) -93px -390px/128px 436px;
    /* end shalam */
}

.icon-reset {
    width: 19px;
    height: 16px;
    -shalam-sprite: 'controls/reset.png' dest-size(19px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -120px -500px;
    background: url(../img/sprite.png) -74px -358px/128px 436px;
    /* end shalam */
}

.icon-rm-lit {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermode-lit.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -235px -500px;
    background: url(../img/sprite.png) -75px -390px/128px 436px;
    /* end shalam */
}

.icon-rm-unlit {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermode-unlit.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -16px -520px;
    background: url(../img/sprite.png) -111px -390px/128px 436px;
    /* end shalam */
}

.icon-rm-normals {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermode-normals.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -219px -500px;
    background: url(../img/sprite.png) -95px -358px/128px 436px;
    /* end shalam */
}

.icon-rm-wireframe {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermode-wireframe.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -139px -500px;
    background: url(../img/sprite.png) -57px -390px/128px 436px;
    /* end shalam */
}

.icon-rm-untexturedwireframe {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermode-untexturedwireframe.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -155px -500px;
    background: url(../img/sprite.png) 0 -390px/128px 436px;
    /* end shalam */
}

.icon-rm-uvoverlay {
    width: 17px;
    height: 17px;
    -shalam-sprite: 'controls/rendermode-uvoverlay.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -171px -500px;
    background: url(../img/sprite.png) -18px -390px/128px 436px;
    /* end shalam */
}

.icon-fullscreen {
    width: 18px;
    height: 18px;
    -shalam-sprite: 'controls/expand.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -187px -500px;
    background: url(../img/sprite.png) -82.28571428571428px -891.4285714285713px/292.57142857142856px 996.5714285714286px;
    /* end shalam */
}

.icon-minimize {
    width: 16px;
    height: 20px;
    -shalam-sprite: 'controls/contract.png' dest-size(16px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -203px -500px;
    background: url(../img/sprite.png) -72px -624px/204.8px 697.6px;
    /* end shalam */
}

.icon-vr-toggle {
    width: 24px;
    height: 16px;
    -shalam-sprite: 'controls/controls-vr.png' dest-size(24px 16px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) 0 -480px;
    background: url(../img/sprite.png) -43.826086956521735px -264.5333333333333px/133.56521739130434px 465.06666666666666px;
    /* end shalam */
}

.icon-cog {
    width: 21px;
    height: 21px;
    -shalam-sprite: 'controls/settings-cog.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -80px -500px;
    background: url(../img/sprite.png) -42.5px -447.5px/160px 545px;
    /* end shalam */
}

.icon-setting-arrow-left {
    width: 6px;
    height: 10px;
    -shalam-sprite: 'controls/settings-arrowleft.png' dest-size(6px 10px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -38px -520px;
    background: url(../img/sprite.png) -8px -422px/128px 436px;
    /* end shalam */
}

.icon-setting-arrow-right {
    width: 6px;
    height: 10px;
    -shalam-sprite: 'controls/settings-arrowright.png' dest-size(6px 10px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -32px -520px;
    background: url(../img/sprite.png) 0 -422px/128px 436px;
    /* end shalam */
}
