/*----- Common ------*/
.box-preview-image-expand-icon:before,
.box-preview-image-zoom-in-icon:before,
.box-preview-image-zoom-out-icon:before,
.box-preview-media-expand-icon:before,
.box-preview-media-play-icon:before,
.box-preview-media-volume-icon:before,
.box-preview-media-volume-icon-mute:before,
.box-preview-media-volume-icon-low:before,
.box-preview-media-volume-icon-medium:before,
.box-preview-media-volume-icon-high:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.box-preview-image-expand-icon:before,
.box-preview-media-expand-icon:before {
    -shalam-sprite: '../img/dark/expand.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -40px -40px;
    background: url(../img/sprite.png) -44px -80px/128px 108px;
    /* end shalam */
}

.is-fullscreen .box-preview-image-expand-icon:before,
.is-fullscreen .box-preview-media-expand-icon:before {
    -shalam-sprite: '../img/dark/collapse.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -60px -40px;
    background: url(../img/sprite.png) -44px -50px/128px 108px;
    /* end shalam */
}



/*----- Image ------*/
.box-preview-image-rotate-left-icon:before {
    -shalam-sprite: '../img/rotateleft.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -80px 0;
    background: url(../img/sprite.png) -168px 0/256px 216px;
    /* end shalam */
}

.box-preview-image-zoom-in-icon:before {
    -shalam-sprite: '../img/zoomin.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -100px 0;
    background: url(../img/sprite.png) -192px 0/256px 216px;
    /* end shalam */
}

.box-preview-image-zoom-out-icon:before {
    -shalam-sprite: '../img/zoomout.png' dest-size(20px 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -120px 0;
    background: url(../img/sprite.png) -216px 0/256px 216px;
    /* end shalam */
}




/*----- Media ------*/
.box-preview-media-play-icon:before {
    -shalam-sprite: '../img/dark/play.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -140px 0;
    background: url(../img/sprite.png) 0 -50px/128px 108px;
    /* end shalam */
}

.box-preview-media-is-playing .box-preview-media-play-icon:before {
    -shalam-sprite: '../img/dark/pause.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -160px 0;
    background: url(../img/sprite.png) -22px -50px/128px 108px;
    /* end shalam */
}

.box-preview-media-volume-icon:before {
    -shalam-sprite: '../img/dark/volumebase.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -180px 0;
    background: url(../img/sprite.png) -66px -80px/128px 108px;
    /* end shalam */
}

.box-preview-media-volume-icon-mute:before {
    -shalam-sprite: '../img/dark/volume0.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -200px 0;
    background: url(../img/sprite.png) -66px -50px/128px 108px;
    /* end shalam */
}

.box-preview-media-volume-icon-low:before {
    -shalam-sprite: '../img/dark/volume1.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -220px 0;
    background: url(../img/sprite.png) -88px -50px/128px 108px;
    /* end shalam */
}

.box-preview-media-volume-icon-medium:before {
    -shalam-sprite: '../img/dark/volume2.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) 0 -40px;
    background: url(../img/sprite.png) 0 -80px/128px 108px;
    /* end shalam */
}

.box-preview-media-volume-icon-high:before {
    -shalam-sprite: '../img/dark/volume3.png' dest-size(20px, 20px);
    /* shalam! */;
    background: url(../img/sprite.compat.png) -20px -40px;
    background: url(../img/sprite.png) -22px -80px/128px 108px;
    /* end shalam */
}
