@import 'media-controls.css';

.box-preview-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0 none;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.box-preview-media-container {
    position: relative;
    overflow: hidden;
}

/* ------------ MP3 ------------*/

.box-preview-media-mp3 .box-preview-media-container {
    width: 400px;
    height: 60px; /* same as controls */
}

.box-preview-media-mp3 .box-preview-media-hd-icon,
.box-preview-media-mp3 .box-preview-media-expand-icon {
    display: none;
}

.box-preview-media-mp3 .box-preview-media-controls-wrapper {
    background: #000;
}


/* ------------ MP4 ------------*/

.box-preview-media.box-preview-media-mp4 {
    background: #000;
}

.box-preview-media-mp4 video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.box-preview-media-mp4 .box-preview-media-hd-icon {
    display: none;
}

.box-preview-is-fullscreen .box-preview-media-mp4 .box-preview-media-container {
    width: 100%;
}


/* ----------- Dash -----------*/

.box-preview-media.box-preview-media-dash {
    background: #000;
}

.box-preview-media-dash video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.box-preview-is-fullscreen .box-preview-media-dash .box-preview-media-container {
    width: 100%;
}